<<<<<<< Updated upstream
html {
    height: 100%;
    color: #333333;
}
body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
=======
/* General */
.mines-body {
    height: 100%;
>>>>>>> Stashed changes
    margin: 0;
    padding: 0;
    background-color: #9b9b9b;
}
.mines-body {
    display: flex;
    flex-direction: column;
    height:1200px; 
}

/* Content */
.mines-content {
    display: flex;
    flex: 1;
}

/* Sidebar */
.mines-sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1e1e2e;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

.mines-sidebar h3 {
    margin: 10px 0;
    color: #4FC3F7;
}

.mines-sidebar input {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    text-align: center;
    background-color: #2a2a3d;
    color: white;
    border-radius: 5px;
}

.mines-sidebar button {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #4FC3F7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.mines-sidebar button:hover {
    background-color: #03A9F4;
}

.mines-logo-container{
    margin-left: 45%;
    margin-top: 100px;
}
.mines-sidebar p {
    margin: 5px 0;
    font-size: 16px;
}

/* Main Content */
.mines-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 250px; /* Ensure the content doesn't overlap the sidebar */
}

/* Game Container */
.mines-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 20px;
    gap: 100px
}

.mines-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.mines-card {
    width: 60px;
    height: 60px;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.mines-card.mine {
    background-color: red;
}

.mines-card.safe {
    background-color: green;
}

/* Overlay */
.mines-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mines-overlay-message {
    background: #1e1e2e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
}

.mines-overlay-message button:hover {
    background-color: #03A9F4;
}
